VITE_SUPABASE_URL=sua_url_do_supabase
VITE_SUPABASE_PUBLISHABLE_KEY=sua_chave_publicavel_do_supabase

SUPABASE_SERVICE_ROLE_KEY=sua_service_role_key_do_supabase
SEED_SENHA_ADMIN=Admin123!
SEED_SENHA_PROF=Prof123!
SEED_SENHA_RESP=Resp123!